@use "../../../assets/scss/" as *;

.member__avatar {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    img {
        height: 40px;
        width: 40px;
        padding: 6px;
    }
}
