@use "../../assets/scss/" as *;

.inputfield {
    margin-bottom: 2rem;
}
.group .customfield {
    @include flex(flex-start, center);
    input {
        max-width: 100%;
    }
    span {
        margin-left: 1rem;
    }
}
.mt-2 {
    margin-top: 2rem;
}
.mb-2 {
    margin-bottom: 2rem;
}
