@use "../../assets/scss/" as *;
.info__wrapper {
    background: #ffffff;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 32px;
    margin-top: 32px;
    color: #000000b2;
}

.info__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 16px 32px;
    max-width: 100%;
    @include tablet {
        grid-template-columns: 1fr;
    }
    @include mobile {
        grid-template-columns: 1fr;
    }
}
.info__birthday-gender {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 16px;
}
.info__isstudent {
    width: 100%;
    @include flex(center, center);
    padding: 8px 0 32px 0;
}
input#birthday {
    height: 38px;
}
