@use "../../../assets/scss/" as *;
.member {
    &__item {
        @include flex(flex-start, center);
        min-width: 200px;
        max-width: 340px;
        height: 44px;
        margin: 10px 0;
        user-select: none;
    }
    &__info {
        margin: 0 8px;
        flex: 1;
    }
    &__name {
        margin-bottom: 4px;
        color: $primary-black;
    }
    &__role {
        color: $black-50;
    }
    &__action img {
        cursor: pointer;
    }
    &__action-delete {
        margin-left: 8px;
    }
}
