@use "../../../assets/scss/" as *;
.modaladdmem__header {
    @include flex(space-between, center);
    height: 30px;
    h3 {
        margin: 0;
        font-size: 20px;
    }
}
.modaladdmem__close {
    @include flex(center, center);
    position: absolute;
    top: 0;
    right: 8px;
    bottom: 0;
    padding: 1rem;
    height: 45px;
    width: 45px;
    border-radius: 5px;
    margin-top: 4px;
    transition: 0.3s;
    cursor: pointer;
}
.modaladdmem__close:hover {
    background-color: #edf1f6;
}

.modaladdmem__search {
    display: grid;
    grid-template-columns: 1fr 10rem;
    grid-gap: 16px;
}

.create__group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 200px;
    padding-top: 2rem;
    overflow-y: hidden;
    padding-left: 4px;

    &__labelwrapper {
        position: relative;
        height: 40px;
        user-select: none;
    }

    &__label {
        position: absolute;
        top: -5%;
        left: 35%;
        background-color: $blue-25;
        color: $primary;
        font-weight: 500;
        display: inline-block;
        padding: 4px;
        margin-left: 8px;
        border-radius: 4px;
    }

    &__content {
        // background-color: #eee;
        overflow-y: scroll;
        max-height: 20rem;
    }

    div.member__item {
        padding-left: 8px;
    }
}
