@mixin flex($justify-content, $align-item, $direction: row) {
    display: flex;
    justify-content: $justify-content;
    align-items: $align-item;
    flex-direction: $direction;
}
@mixin truncate($truncation-boundary) {
    max-width: $truncation-boundary;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
@mixin position(
    $position: absolute,
    $top: null,
    $right: null,
    $bottom: null,
    $left: null,
    $z-index: initial
) {
    position: $position;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
    z-index: $z-index;
}

@mixin box($width, $height: $width) {
    width: $width;
    height: $height;
}
