$primary: #016ac0;
$blue-75: #418fd0;
$blue-50: #80b4df;
$blue-25: #bfdaef;

$primary-dark: #0d2f62;
$primary-black: #04152f;

$black: #000;
$black-75: #404040;
$black-50: #808080;
$black-25: #bfbfbf;
$black-5: #f2f2f2;

$gray: #c4c4c4;

$green: #27b25f;
$red: #de3333;
$white: #fff;

$button-bg: linear-gradient(
    346.31deg,
    #016ac0 20.13%,
    rgba(1, 106, 192, 0) 266.89%
);
